#content {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}
@media (max-width: 1049px) {
  #content {
    align-items: flex-start;
    width: 432px;
    flex: 0;
  }
}
@media (max-width: 751px) {
  #content {
    width: 432px;
  }
}
