header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  z-index: 100;
  box-shadow: 0px 3px 12px rgba(65, 81, 100, 0.12),
    0px 3px 8px rgba(65, 81, 100, 0.24);
}

header i {
  margin-right: 5px;
}

header h1 {
  font-family: "Inter";
  font-weight: 700;
  color: #363e48;
}
