.cardsFarm {
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
}

.content-title {
  color: #363e48;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  align-self: self-start;
  margin-top: -33px;
  margin-bottom: 8px;
}
@media (max-width: 751px) {
  .content-title {
    margin-top: 16px;
  }
}
