.farm-notes {
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1049px) {
  .farm-notes {
    flex-direction: column;
  }
}
@media (max-width: 751px) {
  .farm-notes {
    width: 100%;
  }
}
