.event {
  width: 100%;
  margin-bottom: 16px;
}
.event-header {
  display: flex;
  width: 776px;
  border: 1px solid #dfe0e7;
  border-radius: 8px;
  background-color: #fff;
  justify-content: space-between;
}
@media (max-width: 1049px) {
  .event-header {
    width: 432px;
  }
}
@media (max-width: 751px) {
  .event-header {
    width: 100%;
  }
}
.event-header .events-header-farm-title {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  border-right: 1px solid #e7e8ef;
  box-sizing: border-box;
  width: 90%;
}
@media (max-width: 1049px) {
  .event-header .events-header-farm-title {
    width: 91%;
  }
}
.event-header .events-header-farm-title .event-header-title {
  display: flex;
}
.event-header .events-header-farm-title .event-header-title h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  color: #20252b;
}
.event-header .events-header-farm-title .event-header-title span {
  font-family: Roboto;
  font-size: 12px;
  color: #798aa4;
  border: 1px solid #e7e8ef;
  background-color: #fff;
  padding: 1px;
  border-radius: 4px;
  height: fit-content;
  margin-left: 8px;
}
.event p {
  text-transform: capitalize;
  font-size: 12px;
  color: #627389;
  font-weight: 400;
  font-family: Inter;
}
.event .plantado {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #57760a;
  border-radius: 8px;
  width: fit-content;
  padding: 2px;
  margin-top: 6px;
}
.event .plantado p {
  font-family: Roboto;
  font-weight: 700;
  color: #57760a;
}
.event .events-header-dates {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 242px;
  align-items: center;
  border-right: 1px solid #e7e8ef;
}
@media (max-width: 1049px) {
  .event .events-header-dates {
    display: none;
  }
}
.event .events-container-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 62px;
}
.event .events-container-arrow-rotate-arrow {
  transform: rotate(180deg);
}
@media (max-width: 1049px) {
  .event .events-container-arrow {
    align-items: center;
    justify-content: center;
  }
}
.event-container {
  display: flex;
}
